/* 全局变量 */
* {
  /* 颜色 */
  --primary-color: #1677ff;

  /* 尺寸 */
  --header-height: 48px;
  --app-view-margin: 4px;
  --app-view-padding: 24px;
}

@font-face {
  font-family: 'Deng';
  src: url('@/assets/font/Deng.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dengl';
  src: url('@/assets/font/Dengl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 
 * 列表
 */
/* 每页内容顶部，用于放新增按钮和统计数据 */
.app-view-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

/* 表格自定义筛选 */
.table-filter-dropdown {
  padding: 8px;
  border-radius: 4px;
}

/* 
 * 表单
 */
.app-form {
  max-width: 600px;
}

/* 
 * 详情
 */
.app-detail-loading {
  margin: 30px auto;
}

/* 复制按钮 */
.copy-icon {
  flex-shrink: 0;
  cursor: pointer;
  fill: var(--primary-color);
  width: 16px;
  height: 16px;
}

/* 
 * 常用样式
 */
.none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.flex-1 {
  flex: 1;
}

.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-clamp-2 {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.position-relative {
  position: relative;
}
